

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rate-Limiter</a>
    </div>

 <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>

    </ul>

    <ul class="nav navbar-nav">
      <li><a href="/developers">Developers</a></li>
      <li><a href="/companies">Companies</a></li>
      <li><a href="/students">Students</a></li>

    </ul>
  </div>
</nav>


<div class="container">

    <h2>Hi! {{user.name}}</h2>
<br/>
  <ul style="font-size:22px;">
    <li><a href="/developers">Developers Page</a></li>
    <li><a href="/companies">Companies Page</a></li>
    <li><a href="/students">Students Page</a></li>
  </ul>

</div>