<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rate-Limiter</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
    </ul>

    <ul class="nav navbar-nav">
      <li><a href="/developers">Developers</a></li>
      <li><a href="/companies">Companies</a></li>
      <li><a href="/students">Students</a></li>
    </ul>
  </div>
</nav>


<div class="container" style="background:rgba(93, 219, 34, 0.7);  border-radius:20px; border: solid #06640b; padding:5% 2% 10% 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); height:100 px;margin:auto;">
  <center><span style="font-size:42px; color:#065f1c; padding:15px; font-weight:600;">Hello Companies!</span></center>
  <hr>
  <span style="font-size:22px; color:#263b03; font-weight:100;">This API Platform can be used to build non-automated, authentic, high-quality apps and services that:<br/><br/>
  <li>Help individuals share their own content with 3rd party apps.</li>
  <li>Help brands and advertisers understand, manage their audience and media rights.</li>
  <li>Help broadcasters and publishers discover content, get digital rights to media, and share media with proper attribution.</li></span>
</div>
